body {
    /*general style*/
    font-family     : 'Encode Sans Condensed';
    background-color: #FFFDE3;
    margin          : 0px;
    letter-spacing  : 0.8px;
    padding-bottom  : 100px;
}

a {
    /*remove hyperlink style*/
    color          : white;
    text-decoration: inherit;
}

.header {
    /*whole header section*/
    display              : grid;
    grid-template-columns: 50% 50%;
    /* 2 columns */
    background           : #F8AEB9;
    color                : white;
    height               : 80px;
    margin               : 0px;
}

.wrapper {
    /*right side nav bar*/
    position: absolute;
    right   : 0px;
    margin  : 20px;
}

.nav {
    /*right side nav bar elements*/
    font-size: 20px;
    display  : inline-flex;
    right    : 0px;
}

.nav>div {
    /*set spacing among nav items*/
    margin: 6px;
}

/*styling elements below header*/

.mainContainer {
    /* right column for purchase options */
    /* border: 3px solid #b88750; */
    border-radius      : 10px;
    /* height          : 615px; */
    width              : 1200px;
    margin             : auto;
    margin-top         : 60px;
    border             : 3px solid #B88750;
    background-color   : white;
    align-items        : center;
}

.pageName {
    /*page name*/
    height: 45px;
}

/* .wholeContainer {
    display              : grid;
    grid-template-columns: 50% 50%;
    margin               : 50px;
    margin-top           : 0px;
} */

/* .column {
    margin: 50px;
} */

.innerGrid {
    display              : grid;
    grid-template-columns: 35% 60%;
    margin               : 60px;
}

img {
    /* item image */
    border-radius: 10px;
    width        : 140px;
    height       : 140px;
}

/* buttons */
.button1 {
    margin          : 0px;
    width           : 75px;
    height          : 35px;
    background-color: white;
    color           : #715E4A;
    font-size       : 14px;
    font-weight     : normal;
    border          : 3px solid #b88750;
    border-radius   : 10px;
    font-family     : 'Encode Sans Condensed'
}

.button2 {
    margin          : 0px;
    width           : 75px;
    height          : 35px;
    background-color: white;
    color           : #715E4A;
    font-size       : 14px;
    font-weight     : normal;
    border          : 3px solid rgba(184, 135, 80, 0.5);
    border-radius   : 10px;
    font-family     : 'Encode Sans Condensed'
}

.button3 {
    width           : 180px;
    height          : 40px;
    margin-top      : 160px;
    background-color: white;
    color           : #715E4A;
    font-size       : 18px;
    font-weight     : normal;
    border          : 3px solid #b88750;
    border-radius   : 10px;
    font-family     : 'Encode Sans Condensed'
}

.buttons {
    display              : grid;
    grid-template-columns: 30% 30%;
    margin-top           : 20px;
}



/* heading styles */
h1 {
    /*shop name/logo*/
    font-size     : 22pt;
    font-weight   : bolder;
    text-transform: uppercase;
    margin-left   : 30px;
}

h2 {
    /* options title */
    color      : #715E4A;
    font-size  : 25px;
    margin-left: 60px;
    margin-top : 45px;
}

.checkoutContainer {
    margin-bottom: 60px;
    text-align: center;
}

#cartContainer.div {
    margin-bottom : 20px;
    padding-bottom: 20px;
    
}

#cartContainer {
    margin-bottom: 40px;
    margin-left  : 40px;
    align-items  : baseline;
    color         : #715E4A;
    font-size     : 16px;
    font-weight   : bold;
}


table {
    width: 580px;
}

.pictd {
    width: 100px;
}