body{
    font-family: 'Encode Sans Condensed';
    background-color:#FFFDE3;
    margin: 0px;
}

.header {
    height: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    background: #F8AEB9;
    color: white;
    margin: 0px;
}
.whole {
    /* display: flex; */
}
.wrapper {
    position: absolute;
    right: 0px;
    margin: 20px;
}

.nav {
    font-size: 20px;
    display: inline-flex;
    list-style-type: none;
    position: 'relative';
    right: 0px; 
}

.nav > div { /* space between nav items*/
    margin: 6px;
}

a { /*remove hyperlink style*/
    color: white;
    text-decoration: inherit;
}

.maingrid {
    color: white;
    display: grid;
    background: #FFFDE3;
    grid-template-columns: 50% 50%;
    margin: auto;
    width: 1300px;
}

.itemHeader {
    background: #B88750;
    color: white;
    border-radius: 10px;
    height: 80px;
}

.firstGrid {
    margin-right: 50px;
}

.caramelPecan {
    font-size: 40px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 20px;
}

.itemHeader > p, span { /* space between p, span items*/
    margin-right: 22px;
}

.caramelPecanDetails {
    font-size: 20px;
    font-weight: 100px;
}

.description {
    color: #715E4A;
    margin-top: 15px;
}

.descriptionContainer {
    width: 600px;
    margin: auto;
}

.firstGrid {
    margin-right: 10px;
}

.optionsContainer {
    /* border: 3px solid #b88750; */
    border-radius: 10px;
    height: 600px;
    margin-top: 40px;
    margin-left: 10px;
    border: 3px solid #B88750;  
    background-color: white;
    align-items: center;
}

.optionItems{
    color: #715E4A;
    display: grid;
    grid-template-columns: 50% 50%; 
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    padding-top: 30px;
    border-radius: 10px;
    margin-left: 35px;
    width: 450px;
    margin: auto;
    /* margin-top: 120px; */
}

.options {
    margin-top: 30px;
    /* text-align: center; */
    color: #715E41;
    font-size: 24px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.options > div {
    margin: 16px;
}
img {
    border-radius: 10px;
    width: 640px;
    margin-top: 10px;
}
  
  .button {
    font-family: 'Encode Sans Condensed'
    width: 100px;
    height: 30px;
    font-size: 11px;
    font-weight: 500;
    color: #715E4A;
    background-color: #FFFDE3;
    border: 3px solid #b88750;
    border-radius: 10px;
    margin-top: 15px;
    }
  
  /* .button:hover {
    background-color: white;
    box-shadow: 0px 15px 20px white;
    color: #fff;
    transform: translateY(-7px);
  } */


li {
    list-style-type: none;
    width: 190px; 
    height: 40px;
    margin: 5px;
}

.no {
    border: 3px solid #b88750;
    width: 100px;
    height: 30px;
    margin: auto;
    padding: 10px;
    position: absolute;
}
h1 { /*shop logo*/
    font-size: 22pt;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 30px;
    padding-bottom: 10px;   
}

h2 { /*options*/
    color:#715E4A;
    font-size: 30px;
}

h3 { 
    color: #715E4A;
    font-size: 20px;
    font-weight: normal;
    margin: auto;
    margin: 30px;
}

h4 {
    font-weight: bold;
    color: #715E4A;
    font-size: 20px;
    margin: 30px;
}

h5 { 
    font-weight: bold;
    color: #B88750;
    font-size: 20px;
    margin: 30px;
}
.button2 {
    font-family: 'Encode Sans Condensed';
    margin: 0px;
    width: 160px;
    height: 50px;
    background-color: white;
    color: #715E4A;
    font-size: 20px;
    font-weight: normal;
    border: 3px solid #b88750;
    border-radius: 10px;
}

hr {
    border: none;
    background-color: #b88750;
    color: #ccc;
    height: 0.5px;
    width: 500px;
}

.likes {
    color: #F8AEB9;
}
.number {
    font-weight: normal;
    color: #715E4A;
    padding: 20px;
    margin: 0px;
}

i.fas.fa-caret-down {
    align-items: end;
    padding-left: 50px;
    position: absolute; 
}