body { /*general style*/
    font-family: 'Encode Sans Condensed';
    background-color:#FFFDE3;
    margin: 0px;
    letter-spacing: 0.8px;
}

a { /*remove hyperlink style*/
    color: white;
    text-decoration: inherit;
}

.header { /*whole header section*/
    display: grid;
    grid-template-columns: 50% 50%;
    background: #F8AEB9;
    color: white;
    height: 80px;
    margin: 0px;
}

.wrapper { /*right side nav bar*/
    position: absolute;
    right: 0px;
    margin: 20px;
}

.nav { /*right side nav bar elements*/
    font-size: 20px;
    display: inline-flex;
    right: 0px; 
}

.nav > div { /*set spacing among nav items*/
    margin: 6px;
}

/*styling elements below header*/

.intro { /*shop introduction*/
    color: #715E41;
    height: 80px;
    width: 750px;
    text-align: center;
    padding: 100px;
    margin: auto;
}

.mainGrid { /*2-column grid*/
    color: #715E41;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    height: 500px;
}

.bestRolls { /*left column slideshow banner*/
    background-image: url(mainimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 500px;
    text-align: right;
    padding-top: 200px;
}

.buttonWrapper { /*slideshow page number buttons*/
    margin-right: 30px;
    font-family: 'Encode Sans Condensed'
}

.button { /*unselected buttons*/
    color: white;
    background-color: rgba(0,0,0,0.0);
    border: 3px solid white;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    font-size: 11px;
    font-weight: 500;
    margin-top: 15px;
 }

.button2 { /*current button*/
    color: #B88750;
    background-color: rgba(0,0,0,0);
    border: 3px solid #B88750;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    font-size: 11px;
    font-weight: 500;
    margin-top: 15px;
}

.explore { /*link to browsing page*/
    color: white;
    background: #B88750;
    height: 500px;
    font-size: 24px;
    text-align: center;
    padding-top: 200px;
}

/*heading styles*/
h1 { /*shop name/logo*/
    font-size: 22pt;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 30px;
}

h2 { /*intro text*/
    display: table-cell;
    vertical-align: middle;
}

h3 { /*slideshow banner text*/
    font-size: 60px;
    font-weight: 300;
    font-family: 'IM Fell French Canon';
    margin-right: 30px;
    margin-left: 350px;
    margin-bottom: 0px;
 }


