body { /*general style*/
    font-family: 'Encode Sans Condensed';
    background-color:#FFFDE3;
    margin: 0px;
    letter-spacing: 0.8px;
}

.header { /*whole header section*/
    display: grid;
    grid-template-columns: 50% 50%;
    background: #F8AEB9;
    color: white;
    height: 80px;
    margin: 0px;
}

a { /*remove hyperlink style*/
    color: white;
    text-decoration: inherit;
}

.wrapper { /*right side nav bar*/
    position: absolute;
    right: 0px;
    margin: 20px;
}

.nav { /*right side nav bar elements*/
    font-size: 20px;
    display: inline-flex;
    right: 0px;
    
}

.nav > div { /*set spacing among nav items*/
    margin: 6px;
}

/*styling elements below header*/

.pageName { /* page name */
    height: 80px;
}

.itemNameContainer { /* 3-column grid */
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: left;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1300px;
}

.subPages { /* 1st column, subpage names */
    text-align: center;
    padding-right: 300px;
    color: #715E4A;
}

.items { /* 2nd column, username, password, and "Update Profile" button */
    color: #715E4A;
}

.box { /* enter field --> */
    border: 1px solid #B88750;
    height: 30px;
    width: 350px;
}

.button { /* button to confirm any changes made */
    height: 40px;
    width: 160px;
    margin: auto;
    font-size: 18px;
    font-weight: normal;
    color: #715E4A;
    background-color: #FFFDE3;
    border: 3px solid #b88750;
    border-radius: 10px;
    text-align: center;
    margin-top: 80px;
    font-family: 'Encode Sans Condensed'
}

/*heading styles*/
h1 { 
    font-size: 22pt;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 30px;
}

h2 {
    text-align: center;
    margin-top: 80px;
    color: #715E41;
    font-size: 25px;
}

